/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

/* Header */
.header {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header .logo img {
  margin-right: 5px;
}

.header .search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.header input[type='search'] {
  width: 100%;
  padding: 8px;
}

.header .user-actions {
  display: flex;
  align-items: center;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #f0f0f0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px; /* Adjust based on header height */
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Main Content */
.main-content {
  margin-left: 240px; /* Adjust based on sidebar width */
  padding: 20px;
  padding-top: 80px; /* Adjust based on header height */
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.video-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-card img {
  width: 100%;
  display: block;
}

.video-info {
  padding: 10px;
}

.video-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  text-align:center;
}

.video-meta {
  font-size: 14px;
  color: #666;
}
